{% extends "base_generic.html" %}

{% block content %}
{% load static %}


<div class="card-panel"><p>This is an image classifier built with tensorflow, with reference to </p><a href="http://cv-tricks.com/tensorflow-tutorial/training-convolutional-neural-network-for-image-classification/">this tutorial</a></div>
<br>
<br>
<div style="text-align: center;"><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Classify</a></div>
<div id="modal1" class="modal modal-fixed-footer">
	<div class="modal-content">
		<!-- form action="{% url 'classify' %}" class="dropzone">{% csrf_token %}</form -->
		<form id="imageDropzone" action="{% url 'classify' %}" class="dropzone imageform">{% csrf_token %}</form>
	</div>
	<div class="modal-footer">
	  	<a href="#" type="submit" class="modal-action modal-close waves-effect waves-green btn">Close</a>
	</div>
</div>
<br>
<br>
<br>
<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header"><i class="fa fa-picture-o" aria-hidden="true"></i>Here are some example training data</div>
      	<div class="collapsible-body">
			<div class="carousel">
			    <a class="carousel-item"><img src="{% static 'img/dog.0.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/dog.1.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/dog.2.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/dog.3.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/dog.4.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/cat.0.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/cat.1.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/cat.2.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/cat.3.jpg' %}"></a>
			    <a class="carousel-item"><img src="{% static 'img/cat.4.jpg' %}"></a>
			</div>
		</div>
	</li>
</div>

{% endblock %}

{% block header %}
Tensorflow Classifier
{% endblock %}

{% block javascript %}
<script src="{% static 'js/dropzone_config.js' %}"></script>
{% endblock %}