{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<!--

<h2>Dynamic content</h2>

  <p>The classifier database has the following record counts:</p>
  <ul>
    <li><strong>All images:</strong> {{ num_of_image }}</li>
    <li><strong>Special images:</strong> {{ girl_image }}</li>
  </ul>
-->

<div class="card-panel">
	<p>This is very simple website written with python, django framework, and deployed on heroku.</p>
	<p>I just put some random stuff in this site/blog...</p>
</div>

{% endblock %}

{% block header %}
Hellow World
{% endblock %}