a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.logo {
	/*text-align: center;*/
	margin-top: 32px;
	margin-bottom: 80px;
	/*height: 70px;*/
	background-color: transparent;
}

.nav-li {
	text-align: center;
}

header, main, footer {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

ul.side-nav.fixed li.logo a:hover, ul.side-nav.fixed li.logo a.active {
   background-color: #ffe0b2;
}

.home-logo {
	height: 100px;
	width: 100px;
	/* border:1px solid #ffffff; */
}

body {
 	display: flex;
 	min-height: 100vh;
 	flex-direction: column;
}
main {
	padding-top: 30px;
 	flex: 1 0 auto;
}

.contact {
    text-align: center;
}

.active {
	background-color: #ffffff;
}

.top-nav {
	height: 100px;
	background-color: #ffa726;
}

.nav-wrapper {
	position: relative;
	height: 100%;
}

.imageform {
	min-height: 100%;
	min-width: 100%;
	background-image: url("../img/upload.45f943867c2a.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	border: none;
}

.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 0em;
}